Необходимо преобразовать набор файлов в формате fb2 находящиеся в папке src.
На выходе нужно получить набор html страниц готовых к просмотру
(использовать относительные ссылки).

Сделать начальный index файл содержащий ссылки на все книги.

Необходимо переключение между светлыми и темными темами,
изменение размера шрифта.

Разбить книги на главы, исключить оглавление и информацию о книге.

Сгенерировать иеарархичную навигацию.